.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

.s {
  margin-top: 1.8em;
  margin-bottom: 1.8em;
  padding: 1rem;
  color: #fff;
  font-size: 22px;
  line-height: 1;
  text-decoration: none;
}

.s.bottom {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 5%;
}

.s.dark {
  color: #000;
}

.imgplaceholder {
  display: block;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.beat {
  min-height: 97vh;
  margin: 10vh 35px;
  padding: 4vw;
  border-style: solid;
  border-width: 3px;
  border-color: #15d1a8;
  border-radius: 15px;
}

.title-card {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 150vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: rgba(192, 196, 208, 0.99);
}

.project-title {
  margin-bottom: 77px;
  font-size: 11vw;
  line-height: 1;
  text-align: center;
}

.subheading {
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.byline {
  font-size: 19px;
  text-align: center;
}

.title_vid {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.scrolldown {
  position: fixed;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  width: 10%;
}

.embedded_styles {
  display: none;
}

.snap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.chapter-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 6vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 34px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #5f5f5f;
  line-height: 1;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  -ms-grid-columns: -webkit-max-content 1fr;
  -ms-grid-columns: max-content 1fr;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  -ms-grid-rows: 100%;
  grid-template-rows: 100%;
}

.nav-logo-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.chapternav_logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.chaptertitle {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2.4vh;
}

.blackout {
  position: relative;
  display: block;
  overflow: scroll;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fadepad {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -2;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #000), color-stop(30%, rgba(0, 0, 0, 0.5)), color-stop(50%, transparent), color-stop(70%, rgba(0, 0, 0, 0.5)), color-stop(90%, #000));
  background-image: linear-gradient(180deg, #000 10%, rgba(0, 0, 0, 0.5) 30%, transparent 50%, rgba(0, 0, 0, 0.5) 70%, #000 90%);
}

.walking-cap {
  position: relative;
  z-index: 1;
  height: 75vh;
  margin-bottom: -2%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(4%, rgba(192, 196, 208, 0)), color-stop(97%, #c0c4d0), to(rgba(192, 196, 208, 0.06)));
  background-image: linear-gradient(180deg, rgba(192, 196, 208, 0) 4%, #c0c4d0 97%, rgba(192, 196, 208, 0.06));
}

.yaqoubi_family {
  height: 1700vh;
  max-width: 100vw;
}

.khodadad {
  position: relative;
  z-index: 10;
}

.grid-12 {
  display: -ms-grid;
  display: grid;
  height: 94vh;
  margin-top: 6vh;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: ". . . . . . . . . . ."
    ". hmt hmt hmt hmt hmt hmt hmt . . ."
    ". hmt hmt hmt hmt hmt hmt hmt . . ."
    ". . . . . . . . . . ."
    ". . . . . . . . . . ."
    ". . . . . . . . . . ."
    ". . . . . . . . . . ."
    ". . . . . . . . . . ."
    ". . . . . . . . . . ."
    ". . . . . . . . . . ."
    ". . . . . . . . . . ."
    ". . . . hmb hmb hmb hmb hmb hmb hmb"
    ". . . . hmb hmb hmb hmb hmb hmb hmb";
  -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 6.25vh 0px 6.25vh 0px 6.25vh 0px 6.25vh 0px 6.25vh 0px 6.25vh 0px 6.25vh 0px 6.25vh 0px 6.25vh 0px 6.25vh 0px 6.25vh 0px 6.25vh 0px 6.25vh 0px 6.25vh 0px 6.25vh 0px 6.25vh;
  grid-template-rows: 6.25vh 6.25vh 6.25vh 6.25vh 6.25vh 6.25vh 6.25vh 6.25vh 6.25vh 6.25vh 6.25vh 6.25vh 6.25vh 6.25vh 6.25vh 6.25vh;
}

.yaquobi-family-portait {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.hamdi {
  position: relative;
  height: 2000vh;
}

.m {
  max-width: 40ch;
  font-size: 2.5em;
  line-height: 1.35;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

.m.sticky {
  display: block;
  opacity: 0;
}

.cemetery-bgvid {
  position: -webkit-sticky;
  position: sticky;
  top: 20vh;
  width: 80%;
  height: 60vh;
  margin-right: auto;
  margin-left: auto;
}

.hamdix {
  min-height: 100vh;
}

.roya-snap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.roya-snap.snap {
  width: auto;
}

.roya_family {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
}

.bordertown01 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 70vh;
  padding: 1% 3% 5% 37%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: right;
}

.video_camera_animation {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.extras {
  position: relative;
}

.credits {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.zoom-camera {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.kubra-studying {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.kubra-phone {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.kubra-dad {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10%;
  -o-object-fit: cover;
  object-fit: cover;
}

.kubra-sister {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.yaqontent1 {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.68);
}

.yaqontent2 {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.68);
}

.yaqontent3 {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.68);
}

.yaqontent4 {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.68);
}

.iran-border_01 {
  position: relative;
  min-height: 400vh;
  padding: 90vh 36px;
}

._360_indicator {
  position: absolute;
  z-index: 0;
  width: 10%;
}

._360 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 66.666%;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.habib {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.habib_container {
  position: absolute;
  left: 50%;
  top: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  padding-right: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: left;
}

.speechform {
  max-width: 50%;
}

.border01-video {
  position: -webkit-sticky;
  position: sticky;
  top: 15vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.chapter_2 {
  position: relative;
  z-index: 2;
  display: block;
  padding-bottom: 0px;
  background-color: #000;
}

.chapter_1 {
  background-color: #000;
}

.chapter_3 {
  position: relative;
  z-index: 5;
  padding-bottom: 73px;
}

.pencilmap {
  z-index: 9;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.crop-wrapper {
  position: relative;
  z-index: 99;
  overflow: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.crop-cover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  width: 0%;
  background-image: linear-gradient(274deg, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.99) 52%, #000);
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lightbox-link {
  position: -webkit-sticky;
  position: sticky;
  z-index: 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-999 {
  position: absolute;
  width: 450px;
}

.image-1001 {
  position: absolute;
  width: 50px;
}

.play_button {
  position: absolute;
  width: 150px;
}

.progressbar {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: 5px;
  border-radius: 20px;
  background-color: #fff;
}

.history-year {
  margin-left: 25px;
}

.sponsors {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 200px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.support-from {
  margin-top: 96px;
  font-size: 14px;
  font-weight: 400;
}

.history-flag {
  max-width: 50%;
  border-style: solid;
  border-width: 10px;
  border-color: #b6b6b6;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

.history-flag.second {
  -webkit-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  transform: translate(100%, 0px);
}

.factbox {
  padding: 16px;
  border-radius: 16px;
  background-color: hsla(0, 0%, 100%, 0.14);
}

.overlay-fade-bottom {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  display: none;
  height: 80px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0a0a0a), to(rgba(10, 10, 10, 0)));
  background-image: linear-gradient(0deg, #0a0a0a, rgba(10, 10, 10, 0));
}

.timeline-badge {
  display: inline-block;
  margin-bottom: 24px;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #fff;
  color: #161616;
  font-size: 14px;
  line-height: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.timeline_quote-title {
  color: #cecdcd;
  font-size: 0.9em;
  font-weight: 500;
}

.overlay-fade-top {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;
  height: 80px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0a0a0a), to(rgba(10, 10, 10, 0)));
  background-image: linear-gradient(180deg, #0a0a0a, rgba(10, 10, 10, 0));
}

.text-colour-lightgrey {
  color: hsla(0, 0%, 100%, 0.65);
}

.timeline_item {
  position: relative;
  display: -ms-grid;
  display: grid;
  padding-top: 50px;
  padding-bottom: 50px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 180px 1fr;
  grid-template-columns: 1fr 180px 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.timeline_quote {
  margin-bottom: 16px;
  color: #fff;
  font-size: 1.2em;
  font-style: italic;
}

.timeline_badge {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 6px 8px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.timeline_link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  opacity: 0.6;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
}

.timeline_link:hover {
  opacity: 1;
}

.quotebox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 24px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 16px;
}

.container {
  width: 90vw;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
}

.timeline_quote-text-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.timeline_wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 85px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-timeline {
  position: relative;
  z-index: 3;
}

.section-timeline.z0 {
  z-index: 0;
}

.timeline_progress {
  position: absolute;
  z-index: 4;
  width: 3px;
  height: 100%;
  background-color: #414141;
}

.timeline_right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.timeline_centre {
  position: relative;
  z-index: 11;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-colour-white {
  color: #fff;
}

.timeline_progress-bar {
  position: -webkit-sticky;
  position: sticky;
  left: auto;
  top: 0px;
  right: auto;
  bottom: 50vh;
  z-index: -1;
  width: 3px;
  height: 50vh;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(33%, rgba(255, 255, 255, 0)), color-stop(50%, hsla(0, 0%, 100%, 0.5)), to(#fff));
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 33%, hsla(0, 0%, 100%, 0.5) 50%, #fff);
}

.timeline_circle {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  width: 15px;
  height: 15px;
  max-height: 15px;
  max-width: 15px;
  min-height: 15px;
  min-width: 15px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0 0 8px #0a0a0a;
}

.margin-bottom-medium {
  margin-bottom: 32px;
  font-size: 13px;
}

.timeline_quote-image {
  width: 75px;
  margin-right: 24px;
  border-radius: 8px;
}

.margin-bottom-xlarge {
  margin-bottom: 56px;
}

.history-date_figure {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  color: #fff;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.timeline_left {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: right;
}

.timeline_text_large {
  color: #fff;
  font-size: 1.5em;
  line-height: 1.3;
  font-weight: 500;
}

.link-icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.comment {
  display: none;
}

.history-intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.history-header-text {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.7em;
  line-height: 1.5;
}

.history-intro-header {
  margin-bottom: 100px;
}

.changing-flag {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

._100vh {
  height: 100vh;
}

.min50vh {
  min-height: 50vh;
}

.border01_cover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c9cecf), to(#b9c6cd));
  background-image: linear-gradient(180deg, #c9cecf, #b9c6cd);
}

.grid-2x2 {
  display: -ms-grid;
  display: grid;
  min-height: 80vh;
  padding-right: 2vh;
  padding-left: 2vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.sticky-container-150vh {
  min-height: 150vh;
}

.lightbox-100 {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lightbox-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 66%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
}

.text_container.tall {
  min-height: 50vh;
}

.caption-slug {
  font-size: 2em;
  font-weight: 600;
}

.play_instruction {
  position: relative;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}

.history_figure-copy {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.timeline_text_small {
  color: hsla(0, 0%, 100%, 0.65);
  font-size: 1em;
  line-height: 1.3;
  font-weight: 500;
}

.chart-annotation {
  margin-top: 10px;
  text-align: right;
}

.inline-link {
  text-decoration: underline;
}

.chart-title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 0.5px;
}

._100 {
  width: 100%;
}

.hamdi1 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: -1;
  width: 100%;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.border02 {
  position: relative;
}

.border02-video {
  width: 100%;
  padding: 50px;
  text-align: center;
}

.background-video {
  z-index: 2;
}

.portrait-video-card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 19px 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 4px 4px 12px 0 rgba(90, 90, 90, 0.48);
}

.div-block-2 {
  width: 300px;
  height: 500px;
}

.image-cover {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.lottie-animation {
  width: 70%;
}

.chapter-menu_modal {
  position: fixed;
  left: 0%;
  top: 66px;
  right: 0%;
  bottom: 0%;
  z-index: 100;
  display: none;
  background-color: rgba(0, 0, 0, 0.55);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.chapter-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 6px;
}

.chaptermenu_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #fff;
  background-color: hsla(0, 0%, 100%, 0.29);
  font-weight: 600;
}

.habib-buttons {
  position: absolute;
  right: 113px;
  bottom: 202px;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 87.3%, 0.57);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.abdullah {
  position: relative;
  display: -ms-grid;
  display: grid;
  height: 90vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.play_wrapper {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.play_wrapper.below {
  bottom: 20%;
}

.half-grid-portrait {
  position: absolute;
  display: block;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.mahdi_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.maheading {
  position: absolute;
  font-size: 2em;
}

.text-overlay-heading {
  position: absolute;
  z-index: 3;
  padding: 7%;
  font-size: 50px;
}

.circular-progressbar {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 999;
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.circle-l {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  overflow: hidden;
  width: 50px;
  height: 100px;
}

.circle {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100px;
  height: 100px;
  border: 10px solid transparent;
  border-radius: 50%;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.circle.left {
  right: auto;
  border-color: #fff;
}

.circle.right {
  left: auto;
  border-color: #fff;
}

.circle-r {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  overflow: hidden;
  width: 50px;
  height: 100px;
}

.section-progress-circle {
  position: fixed;
  left: auto;
  top: 3%;
  right: 3%;
  bottom: auto;
  z-index: 999;
  width: 50px;
}

.proloque {
  background-color: #000;
}

.prologue_text {
  margin-top: 1.8em;
  margin-bottom: 1.8em;
  padding: 1rem;
  color: #fff;
  font-size: 22px;
  line-height: 1;
  text-decoration: none;
}

.prologue_text.bottom {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 5%;
}

.prologue_text.dark {
  color: #000;
}

.timeline_end {
  position: relative;
  z-index: 9;
  width: 50px;
  height: 50px;
  margin-top: -50px;
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
}

.media_text-container {
  padding-right: 3rem;
  padding-left: 3rem;
}

@media screen and (max-width: 767px) {
  .chapter-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .timeline_item {
    width: 100%;
    -ms-grid-columns: 64px 1fr;
    grid-template-columns: 64px 1fr;
  }

  .quotebox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .timeline_progress {
    left: 6px;
  }

  .timeline_centre {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .timeline_quote-image {
    margin-top: 24px;
    margin-right: 0px;
  }

  .margin-bottom-xlarge {
    margin-bottom: 48px;
  }

  .history-date_figure {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .timeline_left {
    text-align: left;
  }

  .timeline_text_large {
    font-size: 20px;
  }

  .history_figure-copy {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .timeline_text_small {
    font-size: 20px;
  }
}

@media screen and (max-width: 479px) {
  .chapter-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .timeline_item {
    -ms-grid-columns: 48px 1fr;
    grid-template-columns: 48px 1fr;
  }

  .margin-bottom-medium {
    margin-bottom: 24px;
  }
}

#w-node-_3b135449-92e9-b3c4-870c-10efdeadae9a-a896a848 {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_5fe518ce-a038-6c9d-f928-6d4547290cc1-a896a848 {
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 16;
  grid-row-end: 17;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_3b135449-92e9-b3c4-870c-10efdeadae9d-a896a848 {
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 13;
  -ms-grid-row: 11;
  grid-row-start: 11;
}

#w-node-_3b135449-92e9-b3c4-870c-10efdeadae9b-a896a848 {
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-column-span: 5;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 16;
  grid-row-end: 17;
}

#w-node-bfbb8ac2-32e7-f87a-0831-81fc76ffa815-a896a848 {
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 10;
  grid-row-end: 11;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_91031802-03a2-a565-3259-bd18c072b5c5-a896a848 {
  -ms-grid-column-span: 5;
  grid-column-end: 6;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 10;
  -ms-grid-row: 8;
  grid-row-start: 8;
}

#w-node-_91711c61-65d8-b5eb-22b8-124225f3bb7f-a896a848 {
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 16;
  grid-row-end: 17;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_1f75598b-afe5-afae-d34f-c3d196b89a1d-a896a848 {
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 16;
  grid-row-end: 17;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-b9ced3a3-6716-7ac2-5155-0d2fdfd0b12e-a896a848 {
  -ms-grid-column-span: 5;
  grid-column-end: 13;
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-row-span: 2;
  grid-row-end: 14;
  -ms-grid-row: 12;
  grid-row-start: 12;
}

#w-node-eef94fcd-1338-453c-8e04-5a9e9aa904e8-a896a848 {
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 16;
  grid-row-end: 17;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_36e59dbb-229b-22da-b333-c10cda635b40-a896a848 {
  -ms-grid-column-span: 6;
  grid-column-end: 10;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 2;
  grid-row-end: 12;
  -ms-grid-row: 10;
  grid-row-start: 10;
}

#w-node-_67a05041-ff5b-c376-0e73-548bd3051d1d-a896a848 {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 6;
  grid-column-end: 10;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 8;
  grid-row-end: 12;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_9fe587a3-bff0-256e-9b68-7d0c33f8c02e-a896a848 {
  -ms-grid-column-span: 3;
  grid-column-end: 12;
  -ms-grid-column: 9;
  grid-column-start: 9;
  -ms-grid-row-span: 8;
  grid-row-end: 11;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-_67a05041-ff5b-c376-0e73-548bd3051d20-a896a848 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 13;
  grid-area: hmt;
}

#w-node-_67a05041-ff5b-c376-0e73-548bd3051d22-a896a848 {
  -ms-grid-row: 23;
  -ms-grid-row-span: 3;
  -ms-grid-column: 9;
  -ms-grid-column-span: 13;
  grid-area: hmb;
}

#w-node-ca57bead-a86c-bbe3-49bf-8b4fc62ed982-a896a848 {
  -ms-grid-column-span: 3;
  grid-column-end: 5;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 7;
  grid-row-end: 14;
  -ms-grid-row: 7;
  grid-row-start: 7;
}

#w-node-cdebd9a0-52e3-5e8b-49bd-1e738096e09e-a896a848 {
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 16;
  grid-row-end: 17;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_28cebc49-448f-b00d-69fd-a3a4bab0c493-a896a848 {
  -ms-grid-column-span: 9;
  grid-column-end: 12;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 3;
  grid-row-end: 13;
  -ms-grid-row: 10;
  grid-row-start: 10;
}

#w-node-efda035e-73a5-d166-11c9-69e4cac1a67d-a896a848 {
  -ms-grid-column-span: 9;
  grid-column-end: 12;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 2;
  grid-row-end: 13;
  -ms-grid-row: 11;
  grid-row-start: 11;
}

#w-node-d8e94343-c841-2ab4-bcac-f571480e6fff-a896a848 {
  -ms-grid-column-span: 9;
  grid-column-end: 12;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 3;
  grid-row-end: 13;
  -ms-grid-row: 10;
  grid-row-start: 10;
}

#w-node-_5ed38b32-1fed-2426-5a9a-d54f29ab1f7c-a896a848 {
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 16;
  grid-row-end: 17;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_52cd23f9-9cc1-a792-e2b7-194358f04abd-a896a848 {
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 16;
  grid-row-end: 17;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-c7640999-a492-73e5-f8a6-1998ac8885b0-a896a848 {
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 16;
  grid-row-end: 17;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_8899c22a-b8ca-7c92-c2c7-f1d9aac43146-a896a848 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 767px) {
  #w-node-ddf1f829-02f8-1a84-6068-3cf5b202bd69-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ddf1f829-02f8-1a84-6068-3cf5b202bd6c-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ddf1f829-02f8-1a84-6068-3cf5b202bd6e-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
  }

  #w-node-ddf1f829-02f8-1a84-6068-3cf5b202bd75-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ddf1f829-02f8-1a84-6068-3cf5b202bd78-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ddf1f829-02f8-1a84-6068-3cf5b202bd88-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ddf1f829-02f8-1a84-6068-3cf5b202bd8b-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ddf1f829-02f8-1a84-6068-3cf5b202bda2-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ddf1f829-02f8-1a84-6068-3cf5b202bda5-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ddf1f829-02f8-1a84-6068-3cf5b202bdbe-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ddf1f829-02f8-1a84-6068-3cf5b202bdc1-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ddf1f829-02f8-1a84-6068-3cf5b202bddb-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ddf1f829-02f8-1a84-6068-3cf5b202bdde-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ddf1f829-02f8-1a84-6068-3cf5b202bdf9-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ddf1f829-02f8-1a84-6068-3cf5b202bdfc-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ddf1f829-02f8-1a84-6068-3cf5b202be0c-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ddf1f829-02f8-1a84-6068-3cf5b202be0f-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ddf1f829-02f8-1a84-6068-3cf5b202be20-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ddf1f829-02f8-1a84-6068-3cf5b202be23-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-a2649bca-23ee-f59e-4091-a58e51edc899-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-a2649bca-23ee-f59e-4091-a58e51edc89c-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-c182da1b-de68-b4ec-822a-fb016144bc57-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-c182da1b-de68-b4ec-822a-fb016144bc5a-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-fadbab10-e76c-7b6a-2451-cb2a26bf614b-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-fadbab10-e76c-7b6a-2451-cb2a26bf614e-a896a848 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
}

